.profileCard{

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 3rem auto;
}
.btn{
    margin-top: 0.5rem;
    width: 100%;
}